:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-Red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --button-gradient: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(150deg, #ffffff 0%, #fff4f4 84.51%);
  background-size: cover;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
}

.header {
  padding: 2rem;
}

.header__logo {
  width: 100px;
}

.main__content {
  text-align: center;
  padding: 4rem 2rem;
  color: var(--dark-grayish-red);
}

.title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.625rem;
  letter-spacing: 10.83px;
}

.title--hightlight {
  font-weight: 300;
  color: var(--desaturated-red);
}

.main__text {
  margin-top: 1rem;
  color: var(--desaturated-red);
  line-height: 1.375rem;
  font-size: 0.875rem;
}

.form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}

.form__input {
  background-color: transparent;
  width: 100%;
  border-radius: 28px;
  border: 1px solid var(--desaturated-red);
  padding: 0.625rem 1.5rem;
  line-height: 1.75rem;
  font-size: 0.875rem;
  font-family: inherit;
}

.form__input--error {
  border-color: var(--soft-Red);
  background-image: url('/icon-error.svg');
  background-repeat: no-repeat;
  background-position: right 80px center;
}

.form__input::placeholder {
  color: var(--desaturated-red);
}

.error-text {
  display: none;
  color: var(--soft-Red);
  margin-top: 0.25rem;
  margin-left: 2rem;
  line-height: 1.75rem;
}

.form__submit {
  background: var(--button-gradient);
  position: absolute;
  right: 0;
  width: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 28px;
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  cursor: pointer;
}

.form__submit:hover {
  background: #f3c7c7;
}

.form__submit img {
  width: 8.84px;
}

.hero {
  display: none;
  background-image: url('/hero-desktop.jpg');
  background-size: cover;
}

@media (min-width: 1110px) {
  .header__logo {
    width: auto;
  }

  .main__img {
    display: none;
  }

  .main__content {
    text-align: left;
    padding: 0;
  }

  body {
    display: flex;
  }

  .header,
  .main {
    max-width: 445px;
    margin: 0 auto;
  }

  .header {
    padding: 0;
  }

  .main {
    margin-top: 8.5rem;
  }

  .content {
    padding: 4rem 0;
    width: 58%;
    background-image: url('/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
  }

  .hero {
    display: block;
    flex: 1;
  }

  .title {
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: 17.32px;
  }

  .main__text {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .form {
    margin-top: 2.5rem;
  }

  .form__input {
    padding: 0.875rem 2rem;
    font-size: 1rem;
  }

  .form__input--error {
    background-position: right 120px center;
  }

  .form__submit {
    width: 100px;
  }
}
